<!DOCTYPE html>
<html>
<head>
	<title>jBarbet.com -> CV</title>
</head>
<body>
	<h1>C.V.</h1>

	<h3>Présentation</h3>
	<p>
	Je suis étudiant en développement de solutions logicielles, et principalement attiré par le développement web back-end. Contactez-moi sans hésiter.
	</p>

	<h3>Formation</h3>
	<p>
		<ul>
			<li>2012 - 2014 : BTS Services Informatiques aux Organisations</li>
			<li>2010 - 2011 : Licence Pro Développement et Protection du Patrimoine Culturel, "Réalité Virtuelle et Formation Multimédia"</li>
			<li>2005 - 2009 : Licence de Droit</li>
			<li>2005 : Baccalauréat Economique et Social</li>
		</ul>
	</p>

	<h3>Compétences</h3>
	<p>
		<ul>
			<li>Développement web</li>
			<ul>
				<li>(x)HTML, CSS, JavaScript</li>
				<li>Frameworks MVC (Symfony2, Ruby/Rails)</li>
				<li>Environnements LAMP & WAMP</li>
			</ul>
			<li>Développement d'applications bureau</li>
			<ul>
				<li>Java</li>
				<li>C++</li>
				<li>C#</li>
			</ul>
			<li>Logiciels</li>
			<ul>
				<li>IDE</li>
					<p>Eclipse, SublimeText2</p>
				<li>Suivi/gestion de projet</li>
					<p>Microsoft Project, git</p>
				<li>Infographie</li>
					<p>Photoshop, illustrator, 3D Studio Max</p>
			</ul>
		</ul>
	</p>
</body>
</html>